body{
    background-color: rgb(51, 51, 51);
}
p{
    color: floralwhite;
    margin-left: 225px;
    margin-right: 225px;
    font-size: 75px;

}
ul{
    color: lightgray;
    font-size: 28px;
    margin-left: 300px;
    margin-right: 300px;
}
ol{
    margin-top: 30px;
    color: lightgray;
    font-size: 28px;
    margin-left: 300px;
    margin-right: 300px;
}
h3{
    color: lightgoldenrodyellow;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20;
    margin-left: 250px;
    margin-right: 300px;
}